@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgba(227, 224, 214, .65);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 110px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

hr {
    border: none;
    border-top: 3px solid #D9D9D9;
}

header > img {
    width: 42px;
    height: 42px;
    display: none;
}

.about {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.about .about-item {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.about .about-item:nth-child(even) {
    flex-direction: row-reverse;
}

.about .about-item .img-container {
    width: 380px;
    height: 510px;

    flex-shrink: 0;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    overflow: hidden;
}

.about .about-item .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-item .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about .about-item .content h2,
.about .about-item .content p {
    color: #3F2A15;
}

.about .studio .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .studio .content p span {
    font-weight: 500;
}

.banner {
    height: 700px;

    margin-bottom: 170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    background: url("../img/banner.png") no-repeat center / cover;

}

.banner h1 {
    position: relative;
}

.banner p {
    color: transparent;
    background: linear-gradient(to right, #F1E9CD, #EEE2BA);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
}

.banner .text-gradient {
    color: transparent;
    background: linear-gradient(to right, #F1E9CD, #EEE2BA);
    -webkit-background-clip: text;
    background-clip: text;

    z-index: 2;

    position: relative;
}

.banner .text-shadow {
    width: 100%;
    height: 100%;

    color: transparent;


    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
}

.banner .btn {
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    width: fit-content;
    height: fit-content;

    color: #1D1D1D;
    background: linear-gradient(to right, #F0E7C7, #C2A379);

    outline: none;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    text-decoration: none;
    cursor: pointer;
}


.feedback {
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.feedback h2 {
    color: #3F2A15;
}

.feedback form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.feedback form textarea {
    width: 100%;
    min-height: 200px;

    padding: 20px 30px;

    background-color: #EDEBE4;

    outline: none;
    border: 1px solid #000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    font-size: 18px;
    font-weight: 500;

    resize: none;
}

.feedback form .btn {
    width: 530px;

    padding: 20px 0;

    font-size: 20px;
    font-weight: 500;
}

footer {
    padding: 40px 60px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer div:first-child {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

footer div:first-child .header {
    text-decoration: none;
}

footer div:first-child .header h1,
footer div:first-child .header p {
    color: #3F2A15;
}

footer div:first-child .header h1 {
    font-size: 60px;
    font-weight: 400;
}

footer div:first-child .header p {
    font-size: 28px;
    font-weight: 400;
}

footer div:first-child > a {
    color: #3F2A15;

    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

footer nav a {
    color: #3F2A15;

    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

footer .contacts p {
    color: #3F2A15;

    font-size: 18px;
    font-weight: 400;
}

footer .contacts p a {
    color: #3F2A15;

    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
}

footer .contacts .social div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .contacts .social div img:nth-child(2) {
    width: 59px;
    height: 59px;
}

header {
    padding: 30px;

    background-color: #171009;
    background: radial-gradient(circle, rgb(75, 63, 51) 0%, rgba(23, 16, 9, 1) 100%);

    position: relative;
}

header .header-wrapper {
    width: 80%;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 250px;
}

header nav a {
    color: #ECE1C0;

    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
}

header .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .logo img {
    width: 140px;
    height: 140px;
}

.location {
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.location h2,
.location p {
    color: #3F2A15;
}

.location {
    margin-bottom: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.location h2,
.location p {
    color: #3F2A15;
}

.reviews {
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.reviews h2 {
    color: #3F2A15;
}

.reviews .reviews-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.reviews .review-item {
    padding: 40px 30px;


    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.reviews .review-item .content {
    padding: 20px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    background-color: #F3EEE9;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.reviews .review-item .content h3,
.reviews .review-item .content p {
    color: #6B6B6B;
}

.reviews .review-item .content h3 {
    font-size: 20px;
    font-weight: 700;
}

.reviews .review-item .content p {
    font-size: 16px;
    font-weight: 500;
}

.start {
    margin-bottom: 100px;
    padding: 125px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

    background: rgba(0, 0, 0, .55) url("../img/start.png") no-repeat center / cover;
    background-blend-mode: multiply;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.start .header h2,
.start .header p {
    color: #F0E8CA;
}

.start .header h2 {
    font-size: 66px;
    font-weight: 500;
}

.start .header p {
    font-size: 20px;
    font-weight: 500;
}

.start .fields {
    width: 530px;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.start .fields input {
    padding: 20px 25px;

    background-color: rgba(240, 232, 202, .7);

    outline: none;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    font-size: 18px;
    font-weight: 500;
}

.start .fields .btn {
    width: 100%;

    padding: 20px 0;

    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 420px) {
    .container {
        width: 90%;
    }

    header {
        height: 70px;
        padding: 0 20px 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
        position: sticky;
        top: 0;
        left: 0;
    }

    header .header-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    header .header-wrapper nav {
        display: none;
        padding-top: 20px;
        width: 420px;
        height: 100vh;
        background: radial-gradient(circle, rgb(75, 63, 51) 0%, rgba(23, 16, 9, 1) 100%);
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    header .header-wrapper nav.active {
        display: flex;
    }

    header nav div {
        flex-direction: column;
        gap: 10px;
    }

    header .logo {
        width: 70px;
        height: 70px;
        display: block;
    }

    header .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    header > img {
        display: block;
    }

    .banner {
        margin-bottom: 20px;
        height: 192px;
        gap: 15px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner .text-gradient,
    .banner .text-shadow {
        font-size: 32px;
    }

    .banner p {
        font-size: 14px;
    }

    .banner .btn {
        padding: 5px 25px;
        font-size: 14px;
    }

    .about {
        margin: 0 0 20px;
        gap: 20px;
    }

    .about .about-item,
    .about .about-item:nth-child(even) {
        width: 100%;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }

    .about .about-item .img-container {
        width: 100%;
        height: 222px;
    }

    .about .about-item .content h2 {
        text-align: center;
        font-size: 24px;
    }

    .about .about-item .content h2,
    .about .about-item .content p {
        font-size: 14px;
    }

    .start {
        padding: 30px;
        margin-bottom: 20px;
    }

    .start .header h2,
    .start .header p {
        text-align: center;
    }

    .start .header h2 {
        font-size: 24px;
    }

    .start .header p {
        font-size: 14px;
    }

    .start .fields {
        width: 100%;
        gap: 10px;
    }

    .start .fields input {
        padding: 10px 15px;
        font-size: 16px;
    }

    .start .fields .btn {
        padding: 8px 0;
        font-size: 16px;
    }

    .reviews {
        margin-bottom: 20px;
    }

    .reviews h2 {
        font-size: 24px;
        text-align: center;
    }

    .reviews .reviews-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .reviews .review-item {
        width: 300px;
        padding: 15px;
        flex-shrink: 0;
    }

    .reviews .review-item .content h3 {
        font-size: 16px;
    }

    .reviews .review-item .content p {
        text-align: center;
        font-size: 14px;
    }

    .feedback {
        margin-bottom: 20px;
    }

    .feedback h2 {
        font-size: 24px;
    }

    .feedback form textarea {
        height: fit-content;
        min-height: 0;
        font-size: 16px;
    }

    .feedback form .btn {
        padding: 7px 0;
        width: 270px;
        font-size: 16px;
    }

    .location {
        gap: 15px;
    }

    .location h2, .location p {
        font-size: 24px;
    }

    footer {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }


    footer div:first-child .header h1,
    footer div:first-child .header p {
        text-align: center;
    }

    footer div:first-child .header h1 {
        font-size: 32px;
    }

    footer div:first-child .header p {
        font-size: 24px;
    }

    footer div:first-child,
    footer nav {
        gap: 15px;
    }

    footer div:first-child > a,
    footer nav a,
    footer .contacts p {
        font-size: 16px;
    }

    footer .contacts {
        gap: 15px;
    }

    footer div:first-child {
        width: 100%;
    }

    footer .contacts .social div {
        gap: 10px;
        justify-content: start;
    }

    footer .contacts .social div img,
    footer .contacts .social div img:nth-child(2) {
        width: 30px;
        height: auto;
    }
}
@media (min-width: 421px) and (max-width: 768px) {
    .container {
        width: 95%;
    }

    header {
        height: 70px;
        padding: 0 20px 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
        position: sticky;
        top: 0;
        left: 0;
    }

    header .header-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    header .header-wrapper nav {
        display: none;
        padding-top: 20px;
        width: 100%;
        height: 25vh;
        background: radial-gradient(circle, rgb(75, 63, 51) 0%, rgba(23, 16, 9, 1) 100%);
        flex-direction: column;
        justify-content: start;
       
        position: absolute;
        top: 100%;
        left: 0;
    }

    header .header-wrapper nav.active {
        display: flex;
    }

    header nav div {
        flex-direction: column;
        gap: 10px;
    }

    header .logo {
        width: 70px;
        height: 70px;
        display: block;
    }

    header .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    header > img {
        display: block;
    }


    .banner {
        margin-bottom: 30px;
        height: 250px;
        gap: 20px;
        padding: 20px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner .text-gradient,
    .banner .text-shadow {
        font-size: 40px;
    }

    .banner p {
        font-size: 16px;
    }

    .banner .btn {
        padding: 10px 30px;
        font-size: 16px;
    }

    .about {
        margin: 0 0 30px;
        gap: 30px;
    }

    .about .about-item,
    .about .about-item:nth-child(even) {
        width: 100%;
        margin: 0;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .about .about-item .img-container {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .about .about-item .content h2 {
        font-size: 20px;
    }

    .about .about-item .content p {
        font-size: 14px;
    }

    .start {
        padding: 40px 30px;
        margin-bottom: 30px;
    }

    .start .header h2 {
        font-size: 30px;
    }

    .start .header p {
        font-size: 16px;
    }

    .start .fields {
        width: 100%;
        gap: 15px;
    }

    .start .fields input {
        padding: 12px 18px;
        font-size: 16px;
    }

    .start .fields .btn {
        padding: 10px 0;
        font-size: 16px;
    }

    .reviews {
        margin-bottom: 30px;
    }

    .reviews h2 {
        font-size: 28px;
    }

    .reviews .reviews-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .reviews .review-item {
        width: 100%;
        padding: 20px;
    }

    .reviews .review-item .content h3 {
        font-size: 18px;
    }

    .reviews .review-item .content p {
        font-size: 14px;
    }

    .feedback {
        margin-bottom: 30px;
    }

    .feedback h2 {
        font-size: 28px;
    }

    .feedback form textarea {
        min-height: 150px;
        font-size: 16px;
    }

    .feedback form .btn {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
    }

    .location {
        margin-bottom: 30px;
        gap: 20px;
    }

    .location h2,
    .location p {
        font-size: 28px;
    }

    footer {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    footer div:first-child .header h1 {
        font-size: 40px;
    }

    footer div:first-child .header p {
        font-size: 24px;
    }

    footer nav a,
    footer div:first-child > a,
    footer .contacts p {
        font-size: 16px;
    }

    footer .contacts {
        gap: 20px;
    }

    footer .contacts .social div img {
        width: 40px;
        height: auto;
    }
}